# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Content/AnimStarterPack/

Content/FirstPerson/

Content/FirstPersonBP/

Content/Geometry/

Content/InfinityBladeGrassLands/

Content/Mannequin/

Content/ParagonMurdock/

Content/ParagonPhase/

Content/SoulCave/

Content/ParagonShinbi/

Content/StarterContent/

Content/ThirdPerson/

Intermediate/

Saved/
Content/ThirdPersonBP/Blueprints/ThirdPersonCharacter.uasset
Content/ThirdPersonBP/Blueprints/ThirdPersonGameMode.uasset
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap.umap
Content/ThirdPersonBP/ThirdPersonOverview.uasset
Content/ThirdPersonBP/Maps/ThirdPersonExampleMap_BuiltData.uasset
